

body {
    background-color: rgb(255, 255, 255);
}



.scrolling-strip {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.scrolling-text span {
    margin: 0 24px;
}



/* DESIGN  WORKS PREVIEW  */

#design-section {
    display: flex;
      flex-direction: column;
    border: 2px solid #000000;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
    margin-bottom: 40px;
   background: radial-gradient(circle, #c3e1ff, #fff3d0);
}

#design-divs {
    display: flex;
    flex-direction: row;
}

#design-work1  {
    max-width: 200px;
     border: 2px solid #000000;
      border-radius: 30px;
     min-height: 200px;
     
     margin-right: 16px;
     margin-left: 16px;
      background-size: contain;
       background: url(../images/strawberries-7249448_640.jpg) no-repeat;
}

#design-work2  {
     border: 2px solid #000000;
      border-radius: 30px;
   max-height: 200px;
   
     background: url(../images/helicopter-2116170_640.jpg) no-repeat;
    
}

/* DEV  WORKS PREVIEW  */

#dev-section {
   display: flex;
      flex-direction: column;
    border: 2px solid #000000;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 30px;
    margin-bottom: 40px;
   background: radial-gradient(circle, #c3e1ff, #fff3d0);
}

#dev-divs {
    display: flex;
    flex-direction: row;
}

#dev-work1  {
    max-width: 200px;
     border: 2px solid #000000;
      border-radius: 30px;
    background: url(../images/strawberries-7249448_640.jpg) no-repeat;
     margin-right: 16px;
     margin-left: 16px;
}

#dev-work2  {
     border: 2px solid #000000;
      border-radius: 30px;
        background: url(../images/helicopter-2116170_640.jpg) no-repeat;
  
    
}





 


